@charset "UTF-8";
.login_layer{
	position:absolute;
 	top:0;right:0;bottom:0;left:0;
 	display:flex;
 	align-items:center;
  	justify-content:center;
	display: inline-block;
  	display:-webkit-flex;
 	 -webkit-align-item: center;
 	 -webkit-justify-content:center;
}
.login_layer #ID,
.login_layer #PWD{
	border-radius: 5px;
	border: 1px solid #2874ff;
}