@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
header{font-family: 'Roboto', sans-serif;}
body {background: #fff;
      font-family: 'Roboto', sans-serif;
      color: #484d53;
      line-height: 22px;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;
    					font-family: 'Roboto', sans-serif;
    					color: #4e4e4e;}
h1 {font-size: 36px;}
h2 {font-size: 20px;}
h3 {font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;}
img{max-width: 100%;}
h4 {font-size: 16px;}
a {color: #1fc7c7;
   -webkit-transition: color 300ms, background-color 300ms;
   transition: color 300ms, background-color 300ms;}
a:hover, a:focus{color: #1fc7c7;}
hr {border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;}
.btn-primary {padding: 8px 20px;
   			  background: #1fc7c7;
		      color: #fff;
		      border-radius: 4px;
		      border: none;
		      margin-top: 10px;}
.btn-primary:hover, .btn-primary:focus {background: #1fc7c7;
    									outline: none;
					    				-webkit-box-shadow: none;
					    				box-shadow: none;}
.btn-transparent {border: 3px solid #fff;
			      background: transparent;
			      color: #fff;}
.btn-transparent:hover {border-color: rgba(255, 255, 255, 0.5);}
a:hover, a:focus {color: #111;
    			  text-decoration: none;
    			  outline: none;}
.center h2 {font-size: 36px;
		    margin-top: 0;
		    margin-bottom: 20px;}
.media>.pull-left {margin-right: 20px;}
.media>.pull-right {margin-left: 20px;}
body>section {padding: 70px 0;}
.center {text-align: center;
   		 padding-bottom: 55px;}
.scaleIn {-webkit-animation-name: scaleIn;
    	  animation-name: scaleIn;}
.lead {font-size: 16px;
       line-height: 24px;
       font-weight: 400;}
.transparent-bg {background-color: transparent !important;
    			 margin-bottom: 0;}
/* 버튼 */
#message{background: #1fc7c7;
		 color: #fff;
		 text-transform: uppercase;
		 border-radius: 4px;
		 display: inline-block;
		 font-size: 14px;
		 padding: 4px 10px;
		 border: 1px solid #1fc7c7;
		 margin-top: 10px;}
#rewrite{background: #D0D0D0;
		 color: #fff;
		 text-transform: uppercase;
		 border-radius: 4px;
		 display: inline-block;
		 font-size: 14px;
		 padding: 4px 10px;
		 border: 1px solid #D0D0D0;
		 margin-top: 10px;}
@-webkit-keyframes scaleIn {
    0% {opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);}
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleIn {
    0% {opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);}
    100% {opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);}
}
.page-title h1{color: #fff;
			   position: absolute;	
			   padding-top: 35px;
			   left: 50%;
			   transform:translateX(-50%);
			   font-size: 64px;}
			   
/* header */
header{width: 100%;
	   z-index: 999;}
.navbar>.iner .navbar-brand {margin-left: 0;}
.top-bar {padding: 15px 10px 10px 0;
    	  background: #191919;
    	  border-bottom: 1px solid #222;
   		  line-height: 28px;}
.top-number {color: #fff;}
.top-number p {margin: 0;}
.top-number a{color: #fff;
			  padding-left: 10px;}
.top-number a:HOVER{color: #1fc7c7;}
#mypage{position: absolute;
		right: 20px;}
#login-icon {text-align: right;}
#login-icon p {color: #fff;
			   padding: 0 20px;}
#login-icon #dropdownMenu1{width: 25px;
						   height: 25px;
						   background-color: #393f46;
						   border-radius: 3px;
						   padding: 2px 5px;}
#login-icon a i{display: inline-block;
    			color: #fff;
    			font-size: 15px;}
#login-icon #dropdownMenu1:HOVER {background: #1fc7c7;
    				    		  color: #fff;}
.dropdown-menu {min-width: 160px;
				margin-top: -1px;
				left: 0;
				right: 20px;
				z-index: 1000;
				display: none;
				padding: 0;
				list-style: outside none none;
				font-size: 14px;
				background-clip: padding-box;
				background-color: rgba(0, 0, 0, .85);
				-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
			    border: 0;
			    border-radius: 3px;}
.navbar-brand {padding: 0;
    		   margin: 0;}
.navbar {border-radius: 0;
    	 margin-bottom: 0;
    	 background: #151515;
    	 padding: 15px 0;
    	 padding-bottom: 0;}
.navbar-nav {margin-top: 12px;}
.navbar-nav>li {margin-left: 35px;
    		    padding-bottom: 28px;}
.navbar-inverse .navbar-nav>li>a {padding: 5px 12px;
							      margin: 0;
							      border-radius: 3px;
							      color: #fff;
							      line-height: 24px;
							      display: inline-block;
							      font-weight: 300;}
.navbar-inverse .navbar-nav>li>a:hover {background-color: #1fc7c7;
    								    color: #fff;}
.navbar-inverse {border: none;}
.navbar-inverse .navbar-brand {font-size: 36px;
    						   line-height: 50px;
    						   color: #fff;}
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {background-color: #1fc7c7;
    									   color: #fff;}
.dropdown-menu>li>a {padding: 8px 15px;
    				 color: #fff;}
.dropdown-menu>li:HOVER>a,
.dropdown-menu>li:focus>a,
.dropdown-menu>li.active>a{background-color: #1fc7c7;
    					   color: #fff;}
.dropdown-menu>li:last-child>a {border-radius: 0 0 3px 3px;}
.dropdown-menu>li.divider {background-color: transparent;}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {border-top: 0;
    						  padding-bottom: 0;}
    						  
/* login */
#login_input{padding: 130px 0px 230px 0;
		     display: table; 
		     margin-left: auto; 
		     margin-right: auto;}
#login_input td{text-transform: capitalize;}
.login{border-radius: 3px;
	   background-color: #FAFAFA;
	   border: 1px solid #D0D0D0;
	   margin: 2px 15px;
	   height: 28px;}
.login-pwd{margin-bottom: 10px;}
#loginArea td{text-align: left;
			  padding-left:10px;
			  background-position:left;}
#loginArea #id, 
#loginArea #pwd{float: right;}
#regineed{color: #787878;}				
#regineed:HOVER{color: #1fc7c7;}					

/* register */
.register{padding : 60px;
		  display: table; 
		  margin-left: auto; 
		  margin-right: auto;}
#reform td{text-align: left;
		   padding-right:15px;
		   background-position:left;
		   text-transform: capitalize;
		   font-weight: 500;}
#reform input{border-radius: 3px;
			  background-color: #FAFAFA;
			  border: 1px solid #D0D0D0;
			  margin: 1px 0;
			  width: 350px;
			  height: 28px;
			  font-size: 14px;}
#reform #buttons input{font-size: 14px;
					   padding: 4px 10px;
					   margin-top: 10px;}
#reform td #message{background: #D0D0D0;
				    color: #fff;
				    border-radius: 4px;
				    display: inline-block;
				    padding: 2px 10px;
				    margin-top: 0;
				    border: 1px solid #D0D0D0;}
#reform #rewrite{background: #D0D0D0;
				 color: #fff;
				 border-radius: 4px;
				 display: inline-block;
				 font-size: 16px;
				 padding: 5px 15px;
				 border: 1px solid #D0D0D0;
				 margin-top: 10px;}
#idck{padding: 30px;}	
#reform .dup,
#reform .searchPostno{width: 110px;
					  background: #D0D0D0;
					  color: #fff;
					  border-radius: 4px;
					  display: inline-block;
					  border: 1px solid #D0D0D0;
					  padding: 0 10px;
				      margin-top: 0;
					  text-align: center;
					  text-transform: uppercase;}
#code{width: 150px;
	  height: 28px;
	  display: inline-block;
	  border-radius: 3px;
	  background-color: #FAFAFA;
	  border: 1px solid #D0D0D0;
	  margin: 1px 0;
	  margin-top: 10px;}
.btn-success{display: inline-block;
			 float: right;
			 margin-top: 10px;
			 margin-left: 10px;}	
			 		   
/* modify member */
#moPro #reform{margin: 70px 0 30px 0;
			   display: table; 
			   margin-left: auto; 
			   margin-right: auto;}
#bye{margin: 20px;}
#byearea{margin: 120px 0 290px 0;
		 display: table; 
		 margin-left: auto; 
		 margin-right: auto;
		 text-transform: capitalize;}
.modify_botton{margin-bottom: 60px;}
			   
/* carousel */
#main-slider {position: relative;}
.no-margin {margin: 0;
    		padding: 0;}
#main-slider .carousel .carousel-content {font-size: 18px;
									      font-weight: 400;
									      color: #fff;
									      line-height: 28px;}
#main-slider .carousel .slide-margin {margin-top: 140px;}
#main-slider .carousel h1 {font-size: 64px;
					       font-weight: 700;
					       margin: 0 0 20px;
					       color: #fff;}
#main-slider .carousel .btn-slide {padding: 0 30px;
							       line-height: 42px;
							       background: #1fc7c7;
							       color: #fff;
							       border-radius: 4px;
							       margin-top: 40px;
							       display: inline-block;
							       font-size: 14px;
							       margin-right: 10px;
							       border: 1px solid #1fc7c7;}
#main-slider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}
#main-slider .carousel .slider-img {text-align: right;
    								position: absolute;}
#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-slider .carousel .item:first-child {top: auto;
   										  position: relative;}
#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .prev,
#main-slider .next {position: absolute;
				    top: 50%;
				    background-color: #1fc7c7;
				    color: #fff;
				    display: inline-block;
				    margin-top: -25px;
				    height: 40px;
				    line-height: 40px;
				    width: 40px;
				    line-height: 40px;
				    text-align: center;
				    border-radius: 4px;
				    z-index: 5;}
#main-slider .prev:hover,
#main-slider .next:hover {border: 1px solid rgba(255, 255, 255, 0.44);
    					  background: rgba(255, 255, 255, 0.26);
    					  color: #fff;}
#main-slider .prev {left: 20px;}
#main-slider .next {right: 20px;}
#main-slider .prev i,
#main-slider .next i{line-height: 40px;}
#main-slider .carousel-indicators {margin: 0;
							       left: 0;
							       width: 100%;
							       bottom: 80px;}
#main-slider .carousel-indicators li {width: 10px;
								      height: 10px;
								      background-color: transparent;
								      margin: 0 5px;
								      position: relative;
								      border: 1px solid #fff;}
#main-slider .carousel-indicators li.active {
    background-color: #1fc7c7;
    border: 1px solid #1fc7c7;
}
#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

/* features */
#feature {padding: 70px;}
.features .feature-wrap {margin-bottom: 10px;}
.features .feature-wrap .icon {width: 42px;
						       height: 42px;
						       text-align: center;
						       color: #D0D0D0;
						       border: 1px solid #D0D0D0;
						       font-size: 20px;
						       border-radius: 4px;
						       -webkit-transition: .4s;
						       transition: .4s;
						       margin-bottom: 25px;}
.features .feature-wrap .icon i{line-height: 42px;}
.features .feature-wrap:hover .icon {color: #ffffff;
    								 border: 1px solid #1fc7c7;
    								 background-color: #1fc7c7;}
.features .feature-wrap h2 {font-size: 24px;
    						color: #333;
    						margin: 0;
    						margin-bottom: 24px;}
.features .feature-wrap p {font-size: 16px;
					       margin: 0;
					       line-height: 26px;
					       color: #707070;}

/* recent-works */
#recent-works {background-color: #FAFAFA;
			   padding: 70px;}
#recent-works .single-work {padding: 0;}
.recent-work-wrap {position: relative;
    			   overflow: hidden;}
.recent-work-wrap img {width: 100%;}
.recent-work-wrap #img1,
.recent-work-wrap #img2,
.recent-work-wrap #img6{height: 389.9px;}
.recent-work-wrap #img1_1,
.recent-work-wrap #img2_1,
.recent-work-wrap #img3_1,
.recent-work-wrap #img4_1{height: 300.5px;}
.recent-work-wrap #img5_1,
.recent-work-wrap #img6_1,
.recent-work-wrap #img7_1,
.recent-work-wrap #img8_1{height: 300.5px;}
.recent-work-wrap .recent-work-inner {top: 0;
    							 	  background: transparent;
    								  opacity: .8;
    								  width: 100%;
    								  border-radius: 0;
    								  margin-bottom: 0;}
.recent-work-wrap .overlay {position: absolute;
						    top: 0;
						    left: 0;
						    width: 100%;
						    height: 100%;
						    opacity: 0;
						    border-radius: 0;
						    background: rgba(0, 0, 0, 0.7);
						    color: #fff;
						    vertical-align: middle;
						    -webkit-transition: opacity 500ms;
						    transition: opacity 500ms;
						    padding: 30px;
						    text-align: center;
						    display: -webkit-box;
						    display: -ms-flexbox;
						    display: flex;
						    -webkit-box-orient: vertical;
						    -webkit-box-direction: normal;
						    -ms-flex-direction: column;
						    flex-direction: column;
						    -webkit-box-pack: center;
						    -ms-flex-pack: center;
						    justify-content: center;}
.recent-work-wrap .overlay .preview {color: #fff;
								     height: 50px;
								     width: 50px;
								     background-color: #1fc7c7;
								     border-radius: 50%;
								     display: inline-block;
								     line-height: 50px;}
.recent-work-wrap .recent-work-inner i{line-height: 50px;}
.recent-work-wrap:hover .overlay {opacity: 1;}

/* services */
#services{margin-top: 70px;}
.services-wrap {padding: 40px 30px;
			    background: #fff;
			    border-radius: 4px;
			    margin: 0 0 40px;
			    -webkit-transition: .4s;
			    transition: .4s;
			    color: #707070;
			    font-size: 16px;
			    line-height: 26px;}
.services-wrap p:last-child {margin: 0;}
.services-wrap:hover {background-color: #FAFAFA;}
.services-wrap h3 {font-size: 20px;
			       margin: 0 0 15px;
			       color: #333333;
			       font-weight: 700;}
.services-wrap .pull-left {margin-top: 15px;
    					   margin-bottom: 10px;
    					   margin-right: 30px;}
.pull-left .icon_bo{width: 70px;}
.pull-left .icon{width: 60px;}
.pull-left .icon_ho{width: 100px;}
.pull-left .icon_e{width: 70px;}
span.bar-width::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: -32.5px;
    border-radius: 50%;
    right: 5px;
    border: 4px solid #fff;
}
.nav-tabs>li {
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#content .nav-tabs>li.active>a,
#content .nav-tabs>li.active>a:hover,
#content .nav-tabs>li.active>a:focus {
    color: #EC5538;
    background-color: #F9FAFB;
    border: 1px solid #E9EFF4;
    font-weight: 500;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

#content .tab-pane{
    padding-left: 100px;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li>a {
    color: #666;
    border-radius: 0;
    border: 1px solid transparent;
    line-height: 24px;
    margin-right: 0;
    padding: 13px 30px;
}
.nav-tabs>li>a:hover{
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs li:last-child {
    border-bottom: 0 none;
}

.nav-stacked>li+li {
    margin-top: 0;
}


.tab-wrap {
    margin-bottom: 20px;
}


.tab-content h2 {
    margin-top: 0;
}

.tab-content img {
    border-radius: 4px;
}

/* company */
.about-img{padding-top: 45px;
		   padding-right: 70px;}
.about-content{color: #989898;
   			   font-size: 16px;
		       line-height: 26px;
		       margin-top: 40px;
		       padding-top: 60px;
		       padding-bottom:70px;}
.about-content h2{font-size: 48px;
			      color: #333333;
			      font-weight: 700;
			      margin: 0 0 25px;}
#team-area{background-color: #FAFAFA;
		   padding-top: 70px;
		   padding-bottom: 50px;}
.single-team img{width: 100%;}
.single-team{margin-bottom: 30px;}
.single-team .inner{background: #fff;
				    text-align: center;    
				    color: #989898;
				    font-size: 16px;
				    -webkit-transition: .4s;
				    transition: .4s;
				    border-radius: 5px;
				    overflow: hidden;}
.single-team .inner:hover{
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.single-team .team-content{padding: 30px 0;}
.single-team h4{font-size: 20px;
	    		font-weight: 700;
			    color: #333;
			    margin-top: 0;}

/* projects */
#portfolio .container{margin-top: 50px;
					  margin-bottom: 70px;}
#portfolio_page {margin-top: 115px;
   				 padding-bottom: 0;}
.portfolio-items,
.portfolio-filter {list-style: none outside none;
			       margin: 0 0 40px 0;
			       padding: 0;}
.portfolio-filter>li {display: inline-block;
					  text-align: center;}
.portfolio-filter>li a {background: none repeat scroll 0 0 #FFFFFF;
    				    font-size: 14px;
    				 	font-weight: 400;
    					margin-right: 20px;
					    text-transform: uppercase;
					    transition: all 0.9s ease 0s;
					    -moz-transition: all 0.9s ease 0s;
					    -webkit-transition: all 0.9s ease 0s;
					    -o-transition: all 0.9s ease 0s;
					    border: 1px solid #F2F2F2;
					    outline: none;
					    border-radius: 3px;}
.portfolio-filter>li a:HOVER,
.portfolio-filter>li a:ACTIVE{color: #fff;
    						  background: #1fc7c7;
    						  border: 1px solid #1fc7c7;
							  box-shadow: none;
							  -webkit-box-shadow: none;}
.portfolio-items>li {float: left;
				     padding: 0;
				     -webkit-box-sizing: border-box;
				     box-sizing: border-box;}
.portfolio-item {margin: 0;
				 padding: 0;
				 float: left;}
.inner-content{margin: 70px;}
.fsidebar {width: 30%;
		   float: left;
		   padding-right: 30px;}
#fs-content {width: 68%;
			 float: right;}
.project-meta li {margin-top: 12px;
				  font-size: 11px;
				  color: #000;
				  text-transform: uppercase;
				  letter-spacing: 2px;
				  font-weight: 400;}
.project-meta li i {margin-right: 8px;}
.fsidebar2 {width: 32%;
			float: right;
			padding-right: 0px;
			padding-left: 30px;}
#fs-content.fs-content2 {width: 68%;
						 float: left;}
.fs-info h2 {font-size: 18px;
			 font-weight: 400;
			 letter-spacing: 2px;
			 text-transform: uppercase;
			 margin-top: 0;
			 margin-bottom: 15px;}
.space30 {margin-bottom: 30px;}
				 
/* contacts */
#contact-page {padding-top: 30px;
			   margin-bottom: 50px;}
#contact-page .contact-form .form-group label {color: #989898;
										       font-size: 16px;
										       font-weight: 300;
										       font-size: 12px;
										       text-transform: uppercase;
										       font-weight: 600;}
.form-group .form-control {padding: 0 12px;
					       border-color: #f2f2f2;
					       -webkit-box-shadow: none;
					       box-shadow: none;
					       height: 50px;}
.form-group #file_send{border: none;}
.form-group textarea.form-control{height: 235px;}
.form-group button{font-size: 15px;
    			   padding: 15px 30px;}
textarea#message {resize: none;
    			  padding: 10px;}
#contact-page .contact-wrap {margin-top: 20px;}
.large-title{text-align: center;
		     margin-bottom: 70px;
		     margin-top: 50px;}
.large-title h2{font-size: 48px;
			    font-weight: 700;
			    color: #222;}
.large-title p{font-size: 16px;
		       line-height: 26px;
		       color: #989898;
		       font-weight: 300;}
.space20 {margin-bottom: 20px;}
.contact-info {list-style: none;}
.contact-info i {width: 25px;
				 height: 25px;
				 margin-right: 10px;
			     color: #fff;
			     font-size: 15px;
			     background: #1fc7c7;
			     text-align: center;
			     border-radius: 4px;
			     top: 50%;
			   	 line-height: 25px;}
.map-border {padding: 6px;
			 border: 1px solid #e5e5e5;}
#map_go{padding-top: 20px;}
#map-greyscale {width: 100%;
				height: 350px;}

/* notice */
article table#notice{width: 1000px;}
#notice_area{padding: 70px 0 85px 0;}
article table#notice th{height: 25px;
						text-align: center;
						text-transform: uppercase;
						font-size: 14px;
						padding: 5px;
						margin: 1px;
						background-color: #D0D0D0;
						background-repeat: repeat-x;
						background-position: center center; 
						color:#FFF;
						border-bottom: 1px solid #fff;}
.content #notice th{width: 120px;}
article table#notice td{color: #4e4e4e;
						text-align: center;
						padding: 6px 0; 
						border-bottom-width: 1px;
						border-bottom-style: solid;
						border-bottom-color: #D0D0D0;}
article table#notice td.left{text-align: left;}
article th.tno{width: 70px;}
article th.ttitle{width: 500px;}
article th.twrite{width: 100px;}
article th.tdate, article th.tread{width: 50px;}				    
.search_zone{display: inline-block;
			 margin-top: 40px;
			 margin-left: auto;
			 margin-right: auto;}
.table_search .input_box{height: 30px; width: 200px;
						 border-radius:3px;
						 background-color: #FAFAFA;
						 border: 1px solid #D0D0D0;
						 margin-right: 2px;}
.table_search #writeBtn{float: right;
						margin-right: 450px;}
.table_search .btn{border: 1px solid #F2F2F2;
				   outline: none;
				   border-radius: 3px;
				   width: 100px; height: 30px; color: #FFF;
				   background-position: center center;
				   text-transform: uppercase;
				   transition: all 0.3s ease 0s;
				   -moz-transition: all 0.3s ease 0s;
				   -webkit-transition: all 0.3s ease 0s;
				   -o-transition: all 0.3s ease 0s;
				   background: none repeat scroll 0 0 #D0D0D0;
    			   font-size: 14px; 
    			   text-align: center;
    			   font-weight: 400;
				   padding: 5px;}
.table_search .btn:HOVER{color: #fff;
    			   background: #1fc7c7;
    			   border: 1px solid #1fc7c7;
				   box-shadow: none;
				   -webkit-box-shadow: none;}
.btn_wr{border: 1px solid #D0D0D0;
		background-color: #D0D0D0;
		border-radius: 3px;
		width: 90px; height: 30px;
		color: #FFF;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		text-align: center;}
.btn_wr.active,
.btn_wr:HOVER{border: 1px solid #1fc7c7;
			  background: #1fc7c7;}
#page_control{text-align: center;
			  padding-top: 30px; 
			  padding-bottom: 70px;
			  margin-right: auto;
			  margin-left: auto;}
#page_control a{padding: 2px 5px; 
				text-decoration: none;
				color: #333; margin: 0 5px;}
#page_control a:hover{color: #1fc7c7;
					  text-decoration: underline;}
article #notice_area tr:hover{background-color: #eef9f9;
							  cursor: pointer;
							  cursor: hand;}
#write{margin: 70px;}
.content{margin-top: 100px;
		 margin-bottom: 30px;}
.deleteForm{margin: 70px 0 297px 0;}
.deleteForm h1{margin-bottom: 50px;}
.deleteForm #delete input{margin-left: 10px;
						  border-radius:3px;
						  background-color: #FAFAFA;
						  border: 1px solid #D0D0D0;}
.delete_btn #d1{background: #1fc7c7;
			    color: #fff;
			    border-radius: 4px;
			    text-transform: uppercase;
			    display: inline-block;
			    font-size: 14px;
			    padding: 4px 15px;
			    border: 1px solid #1fc7c7;
			    margin-top: 20px;}
.delete_btn #d2{background: #D0D0D0;
			    color: #fff;
			    border-radius: 4px;
			    text-transform: uppercase;
			    display: inline-block;
			    font-size: 14px;
			    padding: 4px 15px;
			    border: 1px solid #D0D0D0;
			    margin-top: 20px;}
#notice td input,
#notice td .content_notice{border-radius: 3px;
						   background-color: #FAFAFA;
						   border: 1px solid #D0D0D0;}		
#notice_btn{margin-top: 30px;}
.content #noticeC_btn{margin-bottom: 213px;}
.content_d #noticeC_btn{margin-bottom: 150px;}
.reply_wrap{margin: 100px;}
.reply_icon i{color: #D0D0D0;}
#file_area{margin-right: auto;
		   margin-left: auto;}
.upload_area{margin: 100px;}
.reply_icon img{opacity: 0;}

/* sub-menu */
.side-widget {margin-top: 70px;
			  margin-left: 40px; 
			  width: 160px;
			  position: absolute;}
.side-widget ul{border: 1px solid #D0D0D0;			  
				border-radius: 3px;
				padding: 10px;}
.cat-list li {border-bottom: 1px solid #f1f1f1;
			  padding: 10px;}
.cat-list li a {color: #000;
				font-size: 14px;}
.cat-list li a:hover {color: #1fc7c7;}
.cat-list li i {font-size: 15px;
				color: #D0D0D0;
				padding-right: 70px;
				top: 4px;}
.cat-list li .glyphicon-trash{padding-right: 40px;}
.cat-list li .glyphicon-pencil,
.cat-list li .glyphicon-open{padding-right: 65px;}
.cat-list li .glyphicon-save{padding-right: 47px;}
				
/* footer */
.footer-logo{display: inline-block;}
#footer {padding-top: 30px;
    	 padding-bottom: 30px;
    	 color: #fff;
   		 background: #191919;
   		 font-weight: 300;}
#footer a {color: #fff;}
#footer a:hover {color: #1fc7c7;}
#footer ul {list-style: none;
   		    padding: 0;
    		margin: 0;}
#footer ul>li {display: inline-block;
    		   margin-left: 15px;}