<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="com.team.follow.DAO.FollowDAO">

	<select id="GetAllFollower" resultType="com.team.follow.VO.FollowVO">
		select *
		from follow
		where follower_id = #{follower_id}
	</select>
	
	<select id="GetAllFollowing" resultType="com.team.follow.VO.FollowVO">
		select *
		from follow
		where following_id = #{following_id}
	</select>
	
	<delete id="DeleteFollowing" parameterType="com.team.follow.VO.FollowVO">
		delete from follow
		where following_id = #{following_id} and follower_id = #{follower_id}
	</delete>
	
	
	<insert id="InsertFollowing" parameterType="com.team.follow.VO.FollowVO">
		insert into follow (follower_id, following_id, follow_date)
		values (#{follower_id}, #{following_id}, now())	
	</insert>
	
	
	<select id="IsFollowing" parameterType="com.team.follow.VO.FollowVO" resultType="int">
		select count(*)
		from follow a
		where exists(select *
					from follow b
					where b.following_id = #{following_id} and b.follower_id = #{follower_id})
	
	</select>



</mapper>