<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace = "com.team.gallery.DAO.GalleryDAO">
	<insert id="GalleryInsert" parameterType="com.team.gallery.VO.galleryVO">
		insert into TB_gallery (gb_Num,mb_ID,gb_Content,gb_Date,gb_IP,gb_Privacy)
		VALUES(#{gb_Num},#{mb_ID},#{gb_Content},#{gb_Date},#{gb_IP},#{gb_Privacy})
	</insert>
	
	
</mapper>