<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace = "com.team.gallery.DAO.GalleryDAO">
	<insert id="GalleryInsert" parameterType="com.team.gallery.VO.galleryVO">
		insert into TB_gallery (gb_Num,mb_ID,gb_Content,gb_Date,gb_IP,gb_Privacy)
		VALUES(#{gb_Num},#{mb_ID},#{gb_Content},#{gb_Date},#{gb_IP},#{gb_Privacy})
	</insert>
	
	<update id="GalleryUpdate" parameterType="com.team.gallery.VO.galleryVO">
		update TB_gallery
		set GB_Content = #{gb_Content} ,
		GB_Date = now(),
		GB_Privacy = #{gb_Privacy}
		where GB_Num = #{gb_Num};
	</update>
	
	<delete id="GalleryDelete">
		delete from TB_gallery
		where GB_Num = #{GB_Num}
	</delete> 
	
	<select id="maxNum" resultType="int">
		select Max(GB_Num)
		from TB_gallery
	</select>
	
	<select id="GetMyGalleryList" resultType="com.team.gallery.VO.galleryVO">
		select  f.follower_id, g.GB_Num, g.MB_ID, g.GB_Content, g.GB_Date, g.GB_IP, g.GB_Privacy
		from TB_FOLLOW f , TB_gallery g
		where f.following_id = g.MB_ID and f.follower_id = #{id}
		order by g.GB_Num desc
		limit ${pageNum} , 8; 
	</select>
	
	<select id="GetSpecGalleryList" resultType="com.team.gallery.VO.galleryVO">
		select g.gb_Num,g.mb_ID,g.gb_Content,g.gb_Date,g.gb_Privacy
		from TB_gallery g
		where g.MB_ID = #{id}
		order by GB_Num desc
		limit ${pageNum}, 8;
	</select>

	<insert id="fileInsert">
		insert into TB_FILE (gb_Num,gb_file)
		VALUES(#{Num},#{Image})
	</insert>
	
	
	<select id="selectImgList" resultType="com.team.gallery.VO.galleryVO">
		select *
		from TB_FILE
		where GB_Num = #{GB_Num}
	</select>
	
	
	<delete id="clearImgFile">
		delete from TB_FILE
		where GB_Num = #{GB_Num}
	</delete> 
	
	
	
</mapper>