<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.chat.Mapper.chatMapper">
	<!-- 채팅 내용 DB에 삽입 -->
	<insert id="insert">
		INSERT INTO TB_CHAT
		(CHAT_SENDER, CHAT_SENDTIME)
		VALUES
		(#{CHAT_SENDER}, NOW())
	</insert>
	
	<select id="read" resultType="ChatVO" parameterType="ChatVO">
		SELECT * 
		FROM TB_CHAT
		ORDER BY CHAT_SENDTIME DESC limit 1
	</select>
</mapper>