<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.message.Mapper.messageMapper">
	
	<!-- 쪽지 전체 목록 -->
	<select id="listAll" resultType="MessageVO">
		SELECT MESSAGE_NO, MESSAGE_SENDER, MESSAGE_RECEIVER, MESSAGE_SUBJECT, MESSAGE_CONTENT, MESSAGE_SENDTIME
		FROM MESSAGE
		ORDER BY MESSAGE_SENDTIME DESC
	</select>
	
	<!-- 내가 보낸 쪽지 목록 -->
	<select id="sendListAll" resultType="MessageVO">
		SELECT MESSAGE_NO, MESSAGE_SENDER, MESSAGE_RECEIVER, MESSAGE_SUBJECT, MESSAGE_CONTENT, MESSAGE_SENDTIME, MESSAGE_READTIME, MESSAGE_READVAL
		FROM MESSAGE
		ORDER BY MESSAGE_SENDTIME DESC
	</select>

	<!-- 쪽지 작성 -->
	<insert id="insert">
		INSERT INTO MESSAGE
		(MESSAGE_SENDER, MESSAGE_RECEIVER, MESSAGE_SUBJECT, MESSAGE_CONTENT, MESSAGE_SENDTIME)
		VALUES
		(#{MESSAGE_SENDER}, #{MESSAGE_RECEIVER}, #{MESSAGE_SUBJECT}, #{MESSAGE_CONTENT}, NOW())
	</insert>
	
	<!-- 쪽지 상세 내용 -->
	<select id="view" resultType="MessageVO" parameterType="MessageVO">
		SELECT * 
		FROM MESSAGE
		WHERE MESSAGE_NO = #{MESSAGE_NO}
	</select>
	
	<update id="readvaltrue" parameterType="String">
		UPDATE MESSAGE
		SET MESSAGE_READVAL = true,
			MESSAGE_READTIME = now()
		WHERE MESSAGE_NO = #{MESSAGE_NO} 
	</update>
	
	<!-- 내가 보낸 쪽지 상세 내용 -->
	<select id="sendView" resultType="MessageVO" parameterType="MessageVO">
		SELECT * 
		FROM MESSAGE
		WHERE MESSAGE_NO = #{MESSAGE_NO}
	</select>
	
	<!-- 쪽지 삭제 -->
	<delete id="deleteMessage">
		DELETE 
		FROM MESSAGE
		WHERE MESSAGE_NO = #{MESSAGE_NO}
	</delete>
	
</mapper>